.text-onn-banner-img {
  position: absolute;
  top: 210px;
  /* color: #fff; */
  width: 600px;
  justify-self: center;
  /* padding: 0 0 0 25px; */
}
.readmore-btn {
  background-color: #124944;
  color: #fff;
  height: 55px;
  width: 130px;
}
.viewmore-btn {
  color: #000;
  height: 55px;
  width: 130px;
}
