.readmore-btn {
  background-color: #124944;
  color: #fff;
  height: 55px;
  width: 130px;
}
.viewmore-btn {
  color: #000;
  height: 55px;
  width: 130px;
}
@media (min-width: 320px) and (max-width: 425px) {
  /* .viewmore-btn {
    margin: 0;
  } */
}
